body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
.card {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    background-color: #f9f9f9;
}
.card h2 {
    margin-top: 0;
}
ul li a{
    text-decoration: none;
    color: #f9f9f9;
    margin-right: 20px;
}
a:hover {
    padding: 5px;
    border: 2px solid white;
    color: #333;
    background-color: white;
}
.error {
    color: red;
    margin-left: 25px;
}
.error:hover{
    padding: 8px;
    color: black;
    background-color: red;
    border: 1px solid black;
    border-radius: 5px;
    
}


/*AGREGAR*/
.bonton-logout {
    background:transparent;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: red 1px solid;
    box-shadow: 1px 1px 10px ;
}


/* carrito */

.cart {
    border: 1px solid #ddd;
    padding: 1rem;
    width: 100%;
    max-width: 600px;
    position: absolute;
    top: 10%;
    right: 10%;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-items {
    margin-top: 1rem;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5rem;
}

input[type="number"] {
    width: 50px;
    text-align: center;
}

.cerrar-carrito {
    display: block;
    margin-bottom: 1rem;
    background-color: #f44336;
}

.cerrar-carrito:hover {
    background-color: #e31e1e;
}

.carrito-boton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    position: relative;
}

.carrito-boton:hover {
    background-color: #45a049;
}

.comprar-boton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

.comprar-boton:hover {
    background-color: #45a049;
}

.botonCart{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

