  /* Estilos en línea para simplificar */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    background-color: #f9f9f9;
}
.card h2 {
    margin-top: 0;
}
ul li a{
    text-decoration: none;
    color: #f9f9f9;
    margin-right: 20px;
}
a:hover {
    padding: 5px;
    border: 2px solid white;
    color: #333;
    background-color: white;
}
.error {
    color: red;
    margin-left: 25px;
}
.error:hover{
    padding: 8px;
    color: black;
    background-color: red;
    border: 1px solid black;
    border-radius: 5px;
}


/*AGREGAR*/
button{
    background:transparent;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: red 1px solid;
    box-shadow: 1px 1px 10px ;
}
